{% block footer %}
    <!-- Footer -->
    <div class="container-xl py-5">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md">
                <h4 class="logo"><strong>wook</strong>blog</h4>
                <small class="d-block mb-3">© 2020-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>LINKS RÁPIDOS</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="" href="#">Home</a></li>
                    <li><a class="" href="{% url 'siteapp:site_home' %}">wook</a></li>
                    <li><a class="" href="#">Link 2</a></li>
                    <li><a class="" href="#">Link 3</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>POSTS RECENTES</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="" href="#">Link 1</a></li>
                    <li><a class="" href="#">Link 2</a></li>
                    <li><a class="" href="#">Link 3</a></li>
                    <li><a class="" href="#">Link 4</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>CATEGORIAS</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="" href="#">Link 1</a></li>
                    <li><a class="" href="#">Link 2</a></li>
                    <li><a class="" href="#">Link 3</a></li>
                    <li><a class="" href="#">Link 4</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>SOBRE</h5>
                <ul class="list-unstyled text-small">
                    <li><p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue.</p></li>

                </ul>
            </div>
        </div>
    </div>
{% endblock footer %}
